{% extends "base.html" %}

{% block content %}
<section>
  <!-- Tabs nav -->
  <ul class="nav nav-tabs mb-3" id="aboutTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="story-tab" data-bs-toggle="tab" data-bs-target="#story" type="button" role="tab">เรื่องราว</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="character-tab" data-bs-toggle="tab" data-bs-target="#character" type="button" role="tab">ตัวละคร</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="dev-tab" data-bs-toggle="tab" data-bs-target="#dev" type="button" role="tab">การพัฒนา</button>
    </li>
  </ul>

  <!-- Tabs content -->
  <div class="tab-content" id="aboutTabsContent">
    <div class="tab-pane fade show active" id="story" role="tabpanel">
      <h3>เรื่องราว</h3>
      <p>ในเนื้อเรื่องของ Genshin Impact เกิดขึ้นบนโลกที่เรียกว่า Teyvat ที่ประกอบไปด้วย 7 ประเทศ: Mondstadt, Liyue, Inazuma, Sumeru, Fontaine, Natlan และ Snezhnaya ประเทศเหล่านี้ถูกปกครองโดยเทพองค์หนึ่งจากเทพเจ้าทั้งเจ็ด โดยเทพแต่ละองค์จะมีส่วนเกี่ยวข้องกับธาตุที่ปรากฏใน Teyvat โดยตรงและจะสะท้อนถึงภูมิประเภทและวัฒนธรรมของประเทศที่เทพองค์นั้น ๆ ปกครอง ตัวอย่างเช่น ประเทศ Mondstadt ถูกการปกครองโดย Barbatos เทพเจ้าแห่งลม ทำให้ธาตุลมปรากฏอยู่ทั่วไปและเป็นสัญลักษณ์ของประเทศนี้ นอกเหนือจากประเทศเหล่านี้ ยังมีประเทศ Khaenri'ah ที่ดำรงอยู่โดยอิสระจากอำนาจของเหล่าทวยเทพ
Celestia เป็นแกนหลักสำคัญที่ควบคุม Teyvat และมีความเกี่ยวข้องโดยตรงกับเทพเจ้าทั้งเจ็ด เชื่อกันว่าเกาะลอยฟ้าที่สามารถมองเห็นได้บนท้องฟ้าใน Teyvat คือ Celestia ที่เป็นบ้านของเทพเจ้าและมนุษย์ที่ขึ้นสู่ความเป็นเทพ มนุษย์ที่ได้รับวิชั่น อัญมณีวิเศษที่มอบพลังในการควบคุมธาตุให้แก่ผู้ถือครอง โดยผู้คนเหล่านั้นจะถูกเรียกว่า "เทพเจ้าดั้งเดิม" — เป็นผู้ที่มีศักยภาพมากพอที่จะบรรลุถึงความเป็นเทพเจ้า.
นอกเหนือจากการปกครองโดยเทพเจ้า ประเทศต่าง ๆ ยังมีการปกครองโดยมนุษย์เช่นกัน กองอัศวินแห่ง Favonius ในเมือง Mondstadt, Qixing ใน Liyue และ Shogunate ใน Inazuma เป็นตัวอย่างขององค์กรที่มีอำนาจในการปกครองและดูแลความสงบเรียบร้อยในแต่ละประเทศ
เรื่องราวของ Genshin Impact ยังมีการสำรวจความสัมพันธ์ระหว่างเทพเจ้าและมนุษย์ รวมถึงการต่อสู้เพื่ออิสรภาพและความยุติธรรมในโลกที่เต็มไปด้วยความขัดแย้งและความลับที่ซ่อนอยู่</p>
      <p>ใน Genshin Impact ผู้เล่นจะได้สำรวจโลก Teyvat ที่กว้างใหญ่ พบกับตัวละครที่หลากหลาย และเข้าร่วมในการผจญภัยที่น่าตื่นเต้นเพื่อค้นหาความจริงเกี่ยวกับโลกนี้และตัวเอง</p>
</p>
      <img src="https://www.hdwallpapers.in/download/ganyu_keqing_4k_hd_genshin_impact-2560x1440.jpg" style="width:100%;max-width:600px;border-radius:12px;">
    </div>
    <div class="tab-pane fade" id="character" role="tabpanel">
      <h3>ตัวละคร</h3>
      <p>เนื้อเรื่องของ Genshin Impact เกิดขึ้นบนโลกที่เรียกว่า Teyvat ที่ประกอบไปด้วย 7 ประเทศ: Mondstadt, Liyue, Inazuma, Sumeru, Fontaine, Natlan และ Snezhnaya ประเทศเหล่านี้ถูกปกครองโดยเทพองค์หนึ่งจากเทพเจ้าทั้งเจ็ด โดยเทพแต่ละองค์จะมีส่วนเกี่ยวข้องกับธาตุที่ปรากฏใน Teyvat โดยตรงและจะสะท้อนถึงภูมิประเภทและวัฒนธรรมของประเทศที่เทพองค์นั้น ๆ ปกครอง ตัวอย่างเช่น ประเทศ Mondstadt ถูกการปกครองโดย Barbatos เทพเจ้าแห่งลม ทำให้ธาตุลมปรากฏอยู่ทั่วไปและเป็นสัญลักษณ์ของประเทศนี้ นอกเหนือจากประเทศเหล่านี้ ยังมีประเทศ Khaenri'ah ที่ดำรงอยู่โดยอิสระจากอำนาจของเหล่าทวยเทพ
Celestia เป็นแกนหลักสำคัญที่ควบคุม Teyvat และมีความเกี่ยวข้องโดยตรงกับเทพเจ้าทั้งเจ็ด เชื่อกันว่าเกาะลอยฟ้าที่สามารถมองเห็นได้บนท้องฟ้าใน Teyvat คือ Celestia ที่เป็นบ้านของเทพเจ้าและมนุษย์ที่ขึ้นสู่ความเป็นเทพ มนุษย์ที่ได้รับวิชั่น อัญมณีวิเศษที่มอบพลังในการควบคุมธาตุให้แก่ผู้ถือครอง โดยผู้คนเหล่านั้นจะถูกเรียกว่า "เทพเจ้าดั้งเดิม" — เป็นผู้ที่มีศักยภาพมากพอที่จะบรรลุถึงความเป็นเทพเจ้า.
นอกเหนือจากการปกครองโดยเทพเจ้า ประเทศต่าง ๆ ยังมีการปกครองโดยมนุษย์เช่นกัน กองอัศวินแห่ง Favonius ในเมือง Mondstadt, Qixing ใน Liyue และ Shogunate ใน Inazuma
</p>
      <img src="https://www.hdwallpapers.in/download/ganyu_keqing_4k_hd_genshin_impact_3-1366x768.jpg" style="width:100%;max-width:600px;border-radius:12px;">
    </div>
    <div class="tab-pane fade" id="dev" role="tabpanel">
      <h3>การพัฒนา</h3>
      <p>ใGenshin Impact เปิดให้บริการบนแพลตฟอร์ม Microsoft Windows, PlayStation 4, มือถือ (Android/iOS) เมื่อวันที่ 28 กันยายน 2020 โดยมาพร้อมกับความสามารถในการเล่นข้ามแพลตฟอร์ม Genshin Impact
         เปิดให้บริการบนแพลตฟอร์ม PlayStation 5 เมื่อวันที่ 11 พฤศจิกายน 2020 และมีปรับปรุงคุณภาพกราฟิกและระยะเวลาโหลดจาก PlayStation 4 เพิ่มเติมเมื่อวันที่ 28 เมษายน 2021 ในภายหลัง Genshin Impact เปิดให้บริการบนแฟลตฟอร์ม PC ผ่าน Epic Games Store เมื่อวันที่ 9 มิถุนายน 2021[1] Genshin Impact ยังมีแผนที่จะวางจำหน่ายบน Nintendo Switch อีกด้วย (แต่ยังไม่มีการประกาศวันที่เปิดให้บริการที่ชัดเจน)</p>
      <img src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2022/02/Genshin-Impact-Ganyu-Keqing-New-Year-Celebration.jpg" style="width:100%;max-width:600px;border-radius:12px;">
    </div>
  </div>
</section>
{% endblock %}