{% extends "base.html" %}

{% block content %}
<section style="max-width: 500px; margin: 40px auto; background: #f9f9f9; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.08); padding: 32px;">
    <h2 style="text-align:center; color:#2c3e50; margin-bottom: 18px;">ติดต่อเรา</h2>
    <div style="text-align:center;"><div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://tse4.mm.bing.net/th/id/OIP.lbiYE2pE9vSFHesm4EeprQHaEK?rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://tse1.mm.bing.net/th/id/OIP.JUI4ba8NXiWrBXsblG3gPgAAAA?w=474&h=266&rs=1&pid=ImgDetMain&o=7&rm=3" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e332c82-2b12-4eda-9222-7860ac5e0abc/dgad9nq-273b5082-7823-4529-bb9c-08c1bf36b47c.jpg/v1/fill/w_1192,h_670,q_70,strp/genshin_impact_s_3rd_anniversary_by_envimm_dgad9nq-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzdlMzMyYzgyLTJiMTItNGVkYS05MjIyLTc4NjBhYzVlMGFiY1wvZGdhZDlucS0yNzNiNTA4Mi03ODIzLTQ1MjktYmI5Yy0wOGMxYmYzNmI0N2MuanBnIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.RTQ6mtiQdI5vKvruqSILZia8fMJPXZdbdBJkAAbkTJA" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
        <p style="font-size:1.2em; color:#34495e; margin-bottom:8px;"> ติดต่อทางอีเมล: <b>genshin_cs@hoyoverse.com</b></p>
        <i style="color:#27ae60; font-size:1.1em;">ได้เลยนะคะ</i>
    </div>
</section>
{% endblock %}