{% extends "base.html" %}

{% block content %}
<section style="max-width: 1920x1080.jpgpx; margin: 1920x1080.jpgpx auto; background: #f9f9ff; border-radius: 16px; box-shadow: 0 4px 16px rgba(124,0,128,0.08); padding: 36px;">
    <h1 style="color: #7c3aed; text-align:center; font-size:2.4em; margin-bottom: 12px; font-weight: bold;">Home</h1>
    <div class="card" style="width: 2560x1440.jpgrem;">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.hdwallpapers.in/download/flying_aether_lumine_hd_genshin_impact-1920x1080.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1e6599d9-9652-461c-b661-a7852b8a3d93/deesqjo-c38d333c-de1a-4764-9403-97766e0c47c9.png/v1/fill/w_1191,h_671,q_70,strp/aethers_wish_by_ingridtan_deesqjo-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIxIiwicGF0aCI6IlwvZlwvMWU2NTk5ZDktOTY1Mi00NjFjLWI2NjEtYTc4NTJiOGEzZDkzXC9kZWVzcWpvLWMzOGQzMzNjLWRlMWEtNDc2NC05NDAzLTk3NzY2ZTBjNDdjOS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.2ykGsGD2SdZnwc7NnGh9P15Cr6l6Dm9yb-HciQ5PN8A" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://wallpapercave.com/wp/wp13918100.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
 <section style="max-width: 1920x1080.jpg.jpg.jpgpx; margin: 1920x1080.jpgpx auto; background: #f9f9ff; border-radius: 16px; box-shadow: 0 4px 16px rgba(124,0,128,0.08); padding: 36px;">
      <h1 style="color: #7c3aed; text-align:center; font-size:2.4em; margin-bottom: 12px; font-weight: bold;"></h1>
            <p style="font-size:1.6em; margin-bottom:8px;">สวัสดีค่ะ ยินดีต้อนรับเข้าสู่เว็บไซต์เกมเกลือ</p>
            <p style="font-size:1.2em; color:#7c3aed; margin-bottom:8px;">เอ้ย เกมชินอิมแพ็ค เกมภาพสวย เนื้อเรื่องดี ตัวละครเยอะ  </p>
            <p style="font-size:1.2em; color:#7c3aed; margin-bottom:8px;">หากคุณมีข้อสงสัยหรือคำถามใด ๆ สามารถติดต่อเราได้ที่หน้า ติดต่อได้เลยนะคะ <a href="/contact" style="color:#7c3aed; text-decoration:none;"></a></p>
</div>
        
    </div>
</section>
{% endblock content %}